/* global styling */

* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* element styling */

header {
  background-color: lightgrey;
  width: auto;
  border-bottom: 5px solid black;
}

nav, footer {
  padding: 5px;
  text-align: right;
}

li {
  display: inline;
  padding: 0px 1em;
}

h1 {
  text-align: center;
}

div.about-me h2 {
  margin-left: 15px;
  padding-right: 15px;
  width: 120px;
  text-align: center;
  border-right: 2px solid black;
}

div.about-me p {
  align-self: center;
  order: 1;
  padding: 0.5em;
  text-align: left;
  background-color: rgb(193, 229, 241);
  border-radius: 5px;
}

footer {
  background-color: lightgrey;
  border-top: 5px solid black;
}

footer h2 {
 display: inline;
}

/* class styling */

.about-me {
  display: flex;
  margin: 0.5em;
  gap: 10px;
}

.picture-of-me {
  border-radius: 5px;
  order: 2:
}

.logo {
  width: 35px;
  height: 35px;
  padding-left: 10px;
}

