/* global styling */

* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* element styling */

header {
  background-color: lightgrey;
  width: auto;
  border-bottom: 5px solid black;
}

nav, footer {
  padding: 5px;
  text-align: right;
}

li {
  display: inline;
  padding: 0px 1em;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

div.about-me, div.my-work {
  display: flex;
  gap: 10px;
  margin-bottom: 2em
}

div.about-me h2, div.my-work h2 {
  margin-left: 15px;
  padding-right: 15px;
  width: 120px;
  text-align: center;
  border-right: 2px solid black;
}

div.my-work h2:hover {
  outline: 2px solid red;
}

div.about-me p {
  align-self: center;
  order: 2;
  padding: 0.5em;
  text-align: left;
  background-color: rgb(193, 229, 241);
  border-radius: 5px;
  flex-shrink: 1;
}

footer {
  background-color: lightgrey;
  border-top: 5px solid black;
}

footer h2 {
 display: inline;
}

/* class styling */

.picture-of-me {
  border-radius: 5px;
  order: 1;
  flex-shrink: 1;
  width: 33%
}

.logo {
  width: 35px;
  height: 35px;
  padding-left: 10px;
}

/* mobile devices styling */

@media screen and (max-width: 768px) {
  nav {text-align: center}

  header {position: fixed; 
    width: 100%;}

  h1 {font-size: 28px; 
    line-height: 125px;
    margin-bottom: -40px;} /* can be cleaned up later*/

  div.about-me h2, div.my-work h2 {border: none;}

  /*class elements of mobile devices styling */

  .about-me, .my-work {flex-direction: column;}

  .picture-of-me {width: 100%;}

}